

$FontAwesomePath: "../components/font-awesome/font";

@import "compass_twitter_bootstrap";
@import 'compass_twitter_bootstrap_responsive';

@import "../components/font-awesome/scss/bootstrap";
@import "../components/font-awesome/scss/font-awesome";






.station-item {
  list-style: none;

  i {
    color: white;
  }


  &.active {

    i {
      color: red;
    }
  }
}



